$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$myBorder: 1px dashed chocolate;

body {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}

#container {
    width: $myWidth;
    border: $myBorder;
}